.notify{
	position: absolute;
	font-family: Helvetica, Arial;
	width:20%;
	padding: 1.5%;
	font-size: 18px;
	line-height: 1;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	opacity: 0;
}

.notify-default{
	background: rgba(19, 19, 19, 0.9); /* Old browsers */
	color: #fff;
	-moz-box-shadow: 0px 0px 15px #444;
	-webkit-box-shadow: 0px 0px 15px #444;
	-o-box-shadow: 0px 0px 15px #444;
	box-shadow: 0px 0px 15px #444;
	-webkit-transition-property: background, box-shadow;
    -moz-transition-property: background, box-shadow;
    -o-transition-property: background, box-shadow;
    -ms-transition-property: background, box-shadow;
    -transition-property: background, box-shadow;
	
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.notify-success{
	-moz-box-shadow: 0px 0px 15px #d6e9c6;
	-webkit-box-shadow: 0px 0px 15px #d6e9c6;
	-o-box-shadow: 0px 0px 15px #d6e9c6;
	box-shadow: 0px 0px 15px #d6e9c6;
	color: #fff;
	color: #468847;
	background-color: #dff0d8;
	border:1px solid #d6e9c6;
	-webkit-transition-property: opacity, box-shadow;
    -moz-transition-property: opacity, box-shadow;
    -o-transition-property: opacity, box-shadow;
    -ms-transition-property: opacity, box-shadow;
    -transition-property: opacity, box-shadow;
	
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.notify-error{
	color: #b94a48;
	background-color: #f2dede;
	border:1px solid #eed3d7;
	-moz-box-shadow: 0px 0px 15px #eed3d7;
	-webkit-box-shadow: 0px 0px 15px #eed3d7;
	-o-box-shadow: 0px 0px 15px #eed3d7;
	box-shadow: 0px 0px 15px #eed3d7;
	-webkit-transition-property: opacity, box-shadow;
    -moz-transition-property: opacity, box-shadow;
    -o-transition-property: opacity, box-shadow;
    -ms-transition-property: opacity, box-shadow;
    -transition-property: opacity, box-shadow;
	
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.notify-default:hover{
	background: rgba(19, 19, 19, 0.7);
	-moz-box-shadow: 0px 0px 25px #444;
	-webkit-box-shadow: 0px 0px 25px #444;
	-o-box-shadow: 0px 0px 25px #444;
	box-shadow: 0px 0px 25px #444;
	opacity: 0.8;
}
.notify-success:hover{
	-moz-box-shadow: 0px 0px 25px #d6e9c6;
	-webkit-box-shadow: 0px 0px 25px #d6e9c6;
	-o-box-shadow: 0px 0px 25px #d6e9c6;
	box-shadow: 0px 0px 25px #d6e9c6;
	opacity: 0.8;
}
.notify-error:hover{
	-moz-box-shadow: 0px 0px 25px #eed3d7;
	-webkit-box-shadow: 0px 0px 25px #eed3d7;
	-o-box-shadow: 0px 0px 25px #eed3d7;
	box-shadow: 0px 0px 25px #eed3d7;
}

